@model asyncf.Models.ScenarioTarget[]
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AsyncActionFilter</h1>
    <p class="lead">Test cases for Async attribute filters.</p>
</div>

<div class="container">
    <div class="list-group main-screen-menu">
        @foreach (var item in Model)
        {
            <a href="@item.Target" class="list-group-item">
                <h4 class="list-group-item-heading">@item.Title</h4>
                <p class="list-group-item-text">@item.Description</p>
            </a>
        }
    </div>
</div>

